@import '../../globals'

.hamburgerContainer
    display: flex
    flex: 1
    position: absolute
    width: 85vw
    transform: translateY(125px)
    background-color: $white
    border-top: 5px solid $secondary
    animation: hamburger 1s ease
    ul
        list-style-type: none
        li
            padding: 10px 5px
            font-size: 14px
            font-weight: 500
            a
                @include noSelectDrag()
                color: $black
                text-decoration: none
                cursor: pointer
                &:hover
                    transition: color 0.5 ease
                    color: $accent
