@import '../../globals'
    
.aboutContainer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 50px 25px
    h2
        font-weight: 600
    p
        max-width: 500px
        margin-block: 10px
        text-align: center
    a
        button
            @include button($black, $white)
    .skills
        justify-content: center
        margin-top: 25px
        animation: fadeInFromTop 1s ease
        h3
            font-weight: 600
            padding: 0
            margin: 0
        div
            display: flex
            flex-direction: column
            margin-inline: 25px
            ul
                list-style-type: none
                padding: 0
    .expandButton
        @include noSelectDrag()
        font-size: 14px
        cursor: pointer
        span
            &:hover
                transition: color 0.5s ease
                color: $accent
    
@media (max-width: 768px)
    .aboutContainer
        align-items: flex-start
        h2
            font-size: 22px
        p
            text-align: left
            font-size: 14px
        a
            button
                margin-inline: 0
        .skills
            align-items: flex-start
            justify-content: flex-start
            flex: 1
            div
                margin-inline: 0
                margin-right: 50px
            h3
                font-size: 18px
            li
                font-size: 14px


    