@import '../../globals'
    
.contactContainer
    display: flex
    background: $tertiary
    .map
        display: flex
        flex: 3
        border: 0
    .contactInfo
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 5px
        p
            padding: 0
            margin: 0
            font-weight: 500
            font-size: 14px
        a
            color: $black
            text-decoration: none
            &:hover
                transition: color 0.5s ease
                color: $accent
    .form
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 50px
        flex: 1
        h2
            margin: 0
        form
            display: flex
            flex-direction: column
            margin-top: 25px
            width: 90%
            min-height: 500px
            label
                font-weight: 500
                font-size: 12px
                padding-left: 15px
            span
                display: flex
                margin: 10px
                padding: 15px
                border: 0
                background: $primary
                border-radius: 5px
                font-size: 12px
                .formIcon
                    font-size: 16px
                    margin-top: 2px
                    margin-right: 10px
            textarea, input
                    flex: 1
                    background: none
                    font-family: $font-stack
                    border: 0
                    color: $black
                    font-weight: 500
                    &:focus
                        outline: none
                        transition: background 0.5s linear
            textarea
                height: 100px
                text-align: start
                resize: none
                border: 0
        
            label[for=submit]
                @include button($black, $white)
                padding: 10px 20px
                font-weight: 500
                font-size: 14px
                text-align: center
                margin-bottom: 0
            img, .buttonIcon, p
                flex: 1
                align-self: center
                padding-block: 10px
            p
                font-size: 14px
                font-weight: 500
                color: #FF6961
                padding: 0
                margin: 0

        
        .error
            font-weight: 500
            margin-block: 25px
        
@media (max-width: 1200px)
    .contactContainer
        .map
            flex: 1

@media (max-width: 992px)
    .contactContainer
        .map
            display: none
            
@media (max-width: 768px)
    .contactContainer
        h2
            font-size: 22px
        p
            font-size: 14px

    



    