@import '../../globals'
    
.contactContainer
    display: flex
    background: $tertiary
    .personalImg
        display: flex
        flex: 3
        border: 0
        background: url('../../assets/img/me.jpeg')
        background-size: cover
        background-position: center

    .form
        display: flex
        flex: 1
        flex-direction: column
        padding-inline: 25px
        margin-top: 50px
        h2
            font-weight: 600
            margin: 0
            margin-inline: 10px
        .contactInfo
            display: flex
            flex-direction: column
            align-items: flex-start
            margin-inline: 10px
            margin-top: 5px
            .contactIcon
                transform: translateY(2px)
                margin-right: 5px
                align-self: flex-start
                font-weight: 700
            p
                padding: 0
                margin: 0
                font-weight: 500
                font-size: 14px
            a
                color: $black
                text-decoration: none
                &:hover
                    transition: color 0.5s ease
                    color: $accent
        form
            display: flex
            flex-direction: column
            margin-top: 25px
            min-height: 500px
            label
                font-weight: 500
                font-size: 12px
                padding-left: 15px
            span
                display: flex
                margin: 10px
                padding: 15px
                border: 0
                background: $primary
                border-radius: 5px
                font-size: 12px
                .formIcon
                    font-size: 16px
                    margin-top: 2px
                    margin-right: 10px
            textarea, input
                    flex: 1
                    background: none
                    font-family: $font-stack
                    border: 0
                    color: $black
                    font-weight: 500
                    &:focus
                        outline: none
                        transition: background 0.5s linear
            textarea
                height: 100px
                text-align: start
                resize: none
                border: 0
        
            label[for=submit]
                @include button($black, $white)
                padding: 10px 20px
                font-weight: 500
                font-size: 14px
                text-align: center
                margin-bottom: 0
            img, .buttonIcon, p
                flex: 1
                align-self: center
                padding-block: 10px
            p
                font-size: 14px
                font-weight: 500
                color: #FF6961
                padding: 0
                margin: 0

        
        .error
            font-weight: 500
            margin-block: 25px

@media (max-width: 1500px)
    .contactContainer
        .personalImg
            flex: 2

@media (max-width: 992px)
    .contactContainer
        .personalImg
            flex: 1

@media (max-width: 768px) 
    .contactContainer
        flex-direction: column
        .personalImg
            min-height: 300px
        h2
            font-size: 22px
        p
            font-size: 14px

    



    