@import '../../globals'

.footerContainer
    display: flex
    flex-direction: column
    background: $black
    color: $white 
    a
        color: $white
    .mainFooter
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: row
        align-items: flex-start
        min-height: 250px
        flex: 1 
        div
            display: flex
            flex-direction: column
            align-items: center
            padding-block: 50px
            flex: 1
            span
                @include noSelectDrag()
                display: flex
                font-weight: 400
                font-size: 24px  
                margin-bottom: 15px 
            ul
                list-style-type: none
                margin-right: 30px
                padding: 0
                li
                    padding-block: 10px
                    font-size: 14px 
                    cursor: pointer
                    &:hover
                        color: $accent
                        transition: color 0.5s ease
        .rightContainer
            min-height: 250px
            justify-content: space-between
            .socialContainer
                display: flex
                justify-content: center
                align-items: center
                .socials
                    @include noSelectDrag()
                    font-size: 24px
                    padding-right: 15px
            .techLogoContainer
                .techLogo
                    @include noSelectDrag()
                    height: 20px
                    padding-right: 15px
         
    .bottomFooter
        display: flex   
        background: #1f1f1f
        padding-block: 20px
        span
            flex: 1
            display: flex
            justify-content: center
            align-items: center
            p
                font-size: 14px
                padding: 0
                margin: 0

@media (max-width: 1200px)
    .footerContainer
        .mainFooter
            div
                padding: 50px 150px 
        .bottomFooter
            span
                p
                    font-size: 12px
        
@media (max-width: 992px)
    .footerContainer
        .mainFooter
            flex-direction: column
            div
                padding-inline: 25px
                padding-block: 0
                span
                    margin-bottom: 0
                    margin-top: 50px
                ul
                    li
                        font-size: 13px
            .rightContainer
                min-height: 150px
                justify-content: flex-start
                align-items: flex-start
                .socialContainer
                    margin-top: 15px
                .techLogoContainer
                    margin-block: 25px


