@import '../../globals'
    
.footerContainer
    display: flex
    background: $black
    color: $white
    flex-direction: column
.mainFooter
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row
    flex: 1
    
    div
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 50px 250px
        flex: 1
        span
            display: flex
            font-weight: 500
            font-size: 28px   
            margin-bottom: 5px

        p
            margin: 0
            padding: 0
            font-size: 14px 

.socialContainer
    display: flex
    justify-content: center
    align-items: center

.socials
    font-size: 24px
    padding-left: 15px

.bottomFooter
    display: flex   
    padding: 25px 0px
    background: #1f1f1f

    span
        flex: 1
        display: flex
        justify-content: center
        align-items: center

        p
            font-size: 14px
            padding: 0
            margin: 0


@media (max-width: 1200px)
    .mainFooter
        div
            padding: 50px 150px 
            span
                font-size: 22px
            p
                font-size: 12px

    .bottomFooter
        padding: 20px 150px
        span
            p
                font-size: 12px
        
@media (max-width: 992px)
    .mainFooter
        div
            padding: 50px

    .socials
        font-size: 20px

@media (max-width: 768px)
     .mainFooter
        div
            padding: 50px

     .bottomFooter
        padding: 20px 50px



