@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

/*
 * Variables
 */
$font-stack: 'Poppins', sans-serif
$primary: #F8EDE3
$secondary: #DFD3C3
$tertiary: #D0B8A8
$accent: #7D6E83
$white: #FAF9F6
$black: #313639

/*
 * Mixins
 */
@mixin button($color, $hoverColor)
   background: none
   color: $color
   border: 2px solid $color
   padding: 10px 20px
   margin: 20px
   font-family: $font-stack 
   border-radius: 5px
   font-weight: 500
   cursor: pointer
   &:hover
    background: $color
    color: $hoverColor
    transition: 0.5s ease

/*
 * Animations
 */
@keyframes fadeInFromTop 
  0%
    transform: translateY(-10px)
    opacity: 0
  100% 
    transform: translateY(0)
    opacity: 1

@keyframes fadeIn
  0%
    opacity: 0
  100% 
    opacity: 1
